doctype html
html
  head
    title Bank Onboarding - Welcome
    link(rel="stylesheet", href="/styles.css")
  body
    header
      img(src="/assets/images/FrankieOne-MainLogo.png", alt="Bank Logo")
    main
      h1 Welcome to Our Digital Bank!
      p Let's get started with your onboarding process.
      a(href="/details") button Start Authentication
    footer
      div.progress-bar
        div.progress-step(style="width: 33%;") Step 1
