extends shared-layout

block headContent
    link(rel='stylesheet', href='/assets/styles/styles.branded.css')
    link(rel='stylesheet', href='/assets/styles/styles.idv.css')
    script(src='https://assets.frankiefinancial.io/one-sdk/v1/oneSdk.umd.js')

block content
  main
    div(class='onboarding' id='onboarding-container' style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;")

block scripts
    script(src='/ocr-helper.mjs', type="module")
    script(src='/script.idv.js')