doctype html
html
  head
    title OneSDK Flows
    style.
      body {
        font-family: Arial, sans-serif;
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .tile {
        width: 200px;
        height: 150px;
        background-color: #091C2E;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s;
      }
      .module {
        display: flex;
      }
      .tile:hover {
        transform: scale(1.1);
      }
      .logo {
        display: block;
        margin: 20px;
      }
    link(rel='icon', type='image/x-icon', href='/assets/images/favicon.ico')
  body
    //- div.tile(onclick="window.location.href='#'")
    div.logo
        img(src='/assets/images/FrankieOne-MainLogo.svg')
    div.module
        div.tile
            a(href="biometrics" style="text-decoration: none; color: white;") Biometrics
        div.tile
            a(href="modular-forms" style="text-decoration: none; color: white;") Modular Forms
        div.tile
            a(href="ocr" style="text-decoration: none; color: white;") OCR <br> (coming soon)
        div.tile
            a(href="ocr-headless" style="text-decoration: none; color: white;") OCR Headless <br> (coming soon)
        div.tile
            a(href="fraud" style="text-decoration: none; color: white;") Fraud <br> (coming soon)
        div.tile
            a(href="form" style="text-decoration: none; color: white;") Manual Form <br> (coming soon)
