doctype html
html
  head
    title OneSDK Flows
    style.
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
        flex-direction: column;
      }
      .logo {
        margin: 20px;
      }
      .module {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .tile {
        width: 200px;
        height: 150px;
        background-color: #091C2E;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      .tile:hover {
        transform: scale(1.1);
      }
      .tile p, .tile a {
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1.6rem; /* Default text size */
      }
      @media (max-width: 600px) {
        .tile {
          width: 90%;
          height: 100px;
        }
        .module {
          flex-direction: column;
          align-items: center;
          margin: 10px 0; /* Add vertical spacing between tiles */
        }
        .tile p, .tile a {
          font-size: 1rem; /* Smaller text size for mobile */
        }
      }
    link(rel='icon', type='image/x-icon', href='/assets/images/favicon.ico')
    script.
      document.addEventListener('click', function(event) {
        var input = document.getElementById('customerInput');
        var isClickInsideInput = input.contains(event.target);

        if (!isClickInsideInput) {
          updateLinks();
        }
      });

      function updateLinks() {
        var query = document.getElementById('customerInput').value;
        var links = document.querySelectorAll('.module a');
        links.forEach(function(link) {
          var href = link.getAttribute('href');
          if (query) {
            link.setAttribute('href', href.split('?')[0] + '?customerId=' + encodeURIComponent(query));
          } else {
            link.setAttribute('href', href.split('?')[0]);
          }
        });
      }
  body
    //- div.tile(onclick="window.location.href='#'")
    div.logo
        img(src='/assets/images/FrankieOne-MainLogo.svg')
    div
      input#customerInput(type='text', placeholder='customer id (optional)')
      //- button(onclick='updateLinks()') Update Links
    div.module
        a(href="idv-flow")
          div.tile
            p(style="text-decoration: none; color: white;") IDV Flow
        a(href="manual-forms")
          div.tile
            p(style="text-decoration: none; color: white;") eKYC Flow
        a(href="split-flow")
          div.tile
            p(style="text-decoration: none; color: white;") Split Flow
        a(href="ocr-flow")
          div.tile
            p(style="text-decoration: none; color: white;") OCR Only Flow
        //- div.tile
        //-     a(href="ocr-headless" style="text-decoration: none; color: white;") OCR Headless <br> (coming soon)
        //- div.tile
        //-     a(href="fraud" style="text-decoration: none; color: white;") Fraud <br> (coming soon)
                //- a(href="modular-forms")
        //-   div.tile
        //-     p(style="text-decoration: none; color: white;") Modular Forms