doctype html
html
  head
    title Success
    link(rel="stylesheet", href="/styles.css")
  body
    header
      img(src="/logo.png", alt="Bank Logo")
    main
      h1>Details Captured Successfully!
      img(src="/success-image.png", alt="Success Image")
      p>Your details have been captured.
      a(href="/products") button Select a Product
    footer
      div.progress-bar
        div.progress-step(style="width: 100%;") Step 3
