:root {
  --main-font-color: #003f7a;
  --main-element-color: #f3700e;
}

#onboarding-container .ff-button {
    background-color: var(--main-element-color) !important;
  }

  #onboarding-container .ff-checkbox {
    accent-color: var(--main-element-color) !important;
  }

  #onboarding-container .ff-checkbox-item label {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-title {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-subtitle {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-description {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-instructions div {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-instructions p {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-instruction-item {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-form-field {
    color: var(--main-font-color) !important;
  }

  #onboarding-container .ff-checkbox {
    color: var(--main-font-color) !important;
  }

  /* #onboarding-container .ff-form-wrapper{
    color: var(--main-font-color) !important;
  } */

  #onboarding-container .ff-documents h5 {
    color: var(--main-font-color) !important;
  }


  #onboarding-container .ff-documents label {
    color: var(--main-font-color) !important;
  }

  /* #onboarding-container .ff-document h5 {
    color: var(--main-font-color) !important;
  } */


  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

  #onboarding-container {
    width: 100%; 
    height: 100%; 
    z-index: 2; 
    position: relative; 
    top: 0; 
    left: 0;
  }